master config

<list>etc/lists/blacklist-alienvault</list>

  ---rules config

<!-- Example -->
<group name="sysmon_event1,sysmon,windows,">

<rule id="100002" level="10">
  <if_group>sysmon_event1</if_group>
  <list field="win.eventdata.hashes" lookup="address_match_key">etc/lists/blacklist-alienvault</list>
  <description>IP blacklisted in Alien Valut</description>
  <group>blocklist,virushare,</group>
</rule>
</group>



